<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- tutorial
            filename: have to include any subdirectories
        -->

        <!--affect head-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <center>
        <h1><b>英文字根、字首、字尾查詢系統</b></h1>
        {% block body %}{% endblock %}
    </center>
    </body>
</html>